{% extends "layouts/admin.njk" %}

{% block head %}
    <title>{{ chef.name }} | Edit</title>
{% endblock %}

{% block content %}

<div class="edit-header">
    <h2>Editando Chef</h2>
    {% if chef.total_recipes == '0' %}
        <button type="submit" form="form-delete" class="button delete">Delete</button>
    {% else %}
        <button type="submit" form="form-delete" class="button delete" onclick="ErrorMessage.error()">Delete</button>
    {% endif %}
    <button type="submit" form="form-save" class="button">Salvar Chef</button>
</div>


<form id="form-save" method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
    {% include "admin/includes/chefs/fields.njk" %}

    <input 
    type="hidden" 
    name="id" 
    value="{{ chef.id }}">
</form>

<form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
    <input 
    type="hidden" 
    name="id" 
    value="{{ chef.id }}">
</form>

{% include "admin/includes/confirm.njk" %}


{% endblock content %}