{% extends "layouts/admin.njk" %}

{% block head %}
    <title>{{ chef.name }} | Edit</title>
{% endblock %}

{% block content %}

<div class="edit-header">
    <h2>Editando Chef</h2>
    <button type="submit" form="form-delete" id="button-delete">Deletar</button>
    <button type="submit" form="form-salvar" id="button-salvar">Salvar Chef</button>
</div>


<form id="form-salvar" method="POST" action="/admin/chefs?_method=PUT">
    {% include "includes/chefs/fields.njk" %}

    <input 
    type="hidden" 
    name="id" 
    value="{{ chef.id }}">
</form>

<form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
    <input 
    type="hidden" 
    name="id" 
    value="{{ chef.id }}">
</form>

{% include "includes/confirm.njk" %}


{% endblock content %}