<script src="/scripts/error-message.js"></script> 
<script src="/scripts/image-gallery.js"></script> 
<script src="/scripts/lightbox.js"></script> 
<script src="/scripts/upload.js"></script> 
<script src="/scripts/add-button.js"></script>
<script src="/scripts/active-menu.js"></script>