{% extends "admin/layout.njk" %}

{% block head %}
    <title>Foodfy Admin | Create</title>
{% endblock head %}

{% block content %}
    <form method="POST" action="/admin/recipes">
        <div class="create-header">
            <h2>Criando receita</h2>
            <button type="submit">Salvar receita</button>
        </div>

        <div class="details">

            <div class="item">
                <div>Image da receita</div>
                <div>
                    <input class="input__create" type="url" name="image">
                </div>
            </div>


            <div class="item">
                <div>Ingredientes</div>
                <div id="ingredients">
                    <div class="ingredient">
                        <input class="input__create" type="text" name="ingredients[]">
                    </div>
                </div>
                <button type="button" class="add-ingredient button-add">Adicionar novo ingrediente</button>
            </div>

            <div class="item">
                <div>Modo de preparo</div>
                <div id="preparation">
                    <div class="preparation">
                        <input class="input__create" type="text" name="preparation[]">
                    </div>
                </div>
                <button type="button" class="add-preparation button-add">Adicionar novo passo</button>
            </div>

            <div class="item">
                <div>Informações adicionais</div>
                <div>
                    <textarea class="input__create-information" cols="30" rows="10" name="information"></textarea>
                </div>
            </div>
        </div>
    </form>

{% endblock content %}