<!DOCTYPE html>
<html>
    {% block head %}
    {% endblock head %}

    <link rel="stylesheet" href="/styles/style.css">

    <body>
        <header>
            <div class="admin-links">
                <img src="/assets/logo-admin.png" alt="">
            </div>
        </header>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

       <script src="/scripts/scripts.js"></script> 
    </body>
</html>