<header class="links-bg-admin">
    <div class="links-admin">
        <div class="links-logo-admin">
            <a href="/admin/recipes"><img src="/assets/logo-admin.png" alt=""></a>
        </div>
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
    </div>
</header>