{% extends "layouts/admin.njk" %}

{% block head %}
    <title>{{ chef.name }} | Edit</title>
{% endblock %}

{% block content %}


<form method="POST" action="/admin/users">
    <div class="edit-header">
        <h2>Criar Usuário</h2>
        <button type="submit" form="form-save" class="button">Salvar</button>
        <button type="submit" class="button cancel">Cancelar</button>
    </div>
    <div class="user-form">
    {% include "admin/user/fields.njk" %}
    </div>
</form>


{% endblock content %}