<footer>
    <p>Todos direitos reservados, receitas Foodfy.</p>
</footer>

<script src="/scripts/image-gallery.js"></script> 
<script src="/scripts/lightbox.js"></script> 
<script src="/scripts/open-cards.js"></script>
<script src="/scripts/active-menu.js"></script>
<script src="/scripts/hide-and-show.js"></script>