<!DOCTYPE html>
<html>
    {% block head %}
    {% endblock head %}

    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/admin.css">

    <body>
        <header class="links-bg-admin">
            <div class="links-admin">
                <div class="links-logo-admin">
                    <a href="/admin/recipes"><img src="/assets/logo-admin.png" alt=""></a>
                </div>
                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
            </div>
        </header>

        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

       <script src="/scripts/scripts.js"></script> 
       <script src="/scripts/add-button.js"></script>
       <script src="/scripts/active-menu.js"></script>
    </body>
</html>