<div class="details">

    <div class="item">
        <div>Nome</div>
        <div>
            <input 
            class="input__create" 
            type="text" 
            name="name"
            value="{{ chef.name }}">
        </div>
    </div>

    {# <div class="item">
        <div>Avatar</div>
        <div id="photos-preview">
            <div id="photos-upload">
                <input 
                id="photos-input"
                type="file" 
                name="photos" 
                single="single"
                accept="image/*"
                onchange="PhotosUpload.handleFileInput(event, 1)"
                >
                <div class="photos-add">
                    <i class="material-icons">add</i>
                </div>
            </div>
            {% if fileChef %}
                {% for image in fileChef %}
                    <div class="photo" id="{{ image.id }}">
                        <img src="{{ image.src }}" alt="{{ image.name }}">
                        <i class="material-icons"
                            onclick="PhotosUpload.removedOldPhoto(event)"
                        >
                        close  
                        </i>
                    </div>
                {% endfor %}
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>
    </div> #}
    <div class="item">
        <div>Avatar</div>
            <div>
                <div id="avatar-upload">
                    <input 
                    id="avatar-input"
                    type="file" 
                    name="photos" 
                    accept="image/*"
                    onchange="AvatarUpload.selected(event)"
                    >
                    <p>Enviar Avatar</p>
                </div>
            </div>
        </div>
    </div>
    
</div>