{% extends "layouts/site.njk" %}
{% import "site/parts/section-recipes.njk" as section %}

{% block head %}
    <title>Home | Foodfy</title>
{% endblock %}

{% block content %}     

<section class="search-site">

    <div class="title__search">
        <h1>Buscando por "{{ search.term }}"</h1>
        <p>{{ search.total }} encontrados</p>
    </div>

    {{section.recipes('', '', recipes)}}

</section>
{% endblock %}