{% extends "layouts/site.njk" %}

{% block head %}
    <title>Chefs | Foodfy</title>
{% endblock head %}

{% block content %}
    <div class="chefs__cards-content">
        {% for chef in chefs %}
        <div class="card__chefs">
            <section class="chefs__list-image">
                <img src="{{ chef.avatar_url }}" alt="">
            </section>

            <section class="chefs__list-name">
                <h1>{{ chef.name }}</h1>
                <p>{{ chef.total_recipes }} receitas</p>
            </section>
        </div>
        {% endfor %}
    </div>
{% endblock content %}

