{% extends "layouts/site.njk" %}

{% block head %}
    <title>Receitas | Foodfy</title>
{% endblock %}

{% block content %}
<div class="recipes">
<section class="cards">
    {% for recipe in recipes %}
    <div class="card" id="">
        <div class="card__image-container">
            <img src="" alt="Imagem de ">
        </div>

        <div class="card__title">
            <p>{{ recipe.title }}</p>
        </div>

        <div class="card__author">
            <p>{{ recipe.author }}</p>
        </div>
    </div>
    {% endfor %}

</section>
<script src="/scripts.js"></script>
</div>
{% endblock %}  

        