{% extends "layouts/site.njk" %}
{% import "site/parts/section-recipes.njk" as section %}

{% block head %}
    <title>Receitas | Foodfy</title>
{% endblock %}

{% block content %}
<div class="recipes">
    {{section.recipes('', '', recipes)}}
</div>
{% endblock %}  

        