{% extends "layouts/site.njk" %}

{% block head %}
    <title>Search | {{ filter }}</title>
{% endblock %}

{% block content %}
<div class="search__recipes">
    <div class="title__search">
        <h3>Buscando por “{{ filter }}”</h3>
    </div>

    <secttion class="cards">
        {% for recipe in recipes %}
        <div class="card" id="{{ recipe.id }}">
            <div class="card__image-container">
                <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.image }}">
            </div>

            <div class="card__title">
                <p>{{ recipe.title }}</p>
            </div>

            <div class="card__author">
                <p>{{ recipe.author }}</p>
            </div>
        </div>
        {% endfor %}
    </secttion>
</div>
<script src="/scripts.js"></script>
{% endblock content %}