<header>
    <div class="container">
        <nav class="primary">
            <a href="/admin/recipes">
                <div class="logo">
                    <img src="/assets/logo-admin.png" alt="">
                </div>
            </a>

            <ul>
                <li class="menu">
                    <a href="#">receitas</a>
                    <div class="submenu">
                        <a href="#">Minhas Receitas</a>
                        <a href="/admin/recipes">Listar Todas</a>
                        <a href="/admin/recipes/create">Criar</a>
                    </div>
                </li>
                <li class="menu"> 
                    <a href="#">chefs</a>
                    <div class="submenu">
                        <a href="/admin/chefs">Listar Chefs</a>
                        <a href="/admin/chefs/create">Criar</a>
                    </div>
                </li>
                <li class="menu">
                    <a href="#">usuários</a>
                    <div class="submenu">
                        <a href="#">Minha conta</a>
                        <a href="/admin/users">Listar Usuários</a>
                        <a href="/admin/users/create">Criar</a>
                    </div>
                </li>
                <li class="menu">
                    <a href="">Perfil</a>
                </li>
            </ul>
        </nav>
    
        <form class="exit" action="" method="post">
            <button>sair</button>
        </form>
        
    </div>
</header>