<header>
    <div class="container">
        <nav class="primary">
            <a href="#">
                <div class="logo">
                    <img src="/assets/logo-admin.png" alt="">
                </div>
            </a>

            <ul>
                <li>
                    <a href="/admin/recipes">receitas</a>
                </li>
                <li> 
                    <a href="/admin/chefs">chefs</a>
                </li>
                <li>
                    <a href="/admin/users">usuários</a>
                </li>
            </ul>
        </nav>
        
        <nav class="secondary">
            <ul>
                <li>
                    <a href="/admin/profile">Minha Conta</a>
                </li>
                <li>
                    <form class="exit" action="/admin/users/logout" method="POST">
                        <button>sair</button>
                    </form>
                </li>
            </ul>
        </nav>
        
    </div>
</header>