/*=== Header Admin ===*/

header {
    background-color: black;
    color: black;

    width: 100%;
    padding: 27px 0;
    text-align: left;
}


header div.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.logo img {
    margin-right: 50.4px;
}

nav.primary {
    display: flex;
}

nav.primary ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px; */
    align-items: center;
    text-align: center;
}

nav.primary ul li a {
    color: #999999;
    font-size: 15px;
    text-transform: uppercase;
}

nav.primary ul li a.active {
    font-weight: bold;
    color: white;
}

nav.primary ul li a:hover {
    font-weight: bold;
    transition: color 200ms;
} 

nav.secondary ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
} 

nav.secondary ul li a {
    color: #999999;
    font-size: 15px;
    text-transform: uppercase;
}

nav.secondary ul li a.active {
    font-weight: bold;
    color: white;
}

nav.secondary ul li a:hover {
    font-weight: bold;
    transition: color 200ms;
} 

form.exit button {
    background-color: black;
    color: #999999;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

form.exit button:hover {
    color: #999999;
    font-weight: bold;
    transition: color 200ms;
}
