<!DOCTYPE html>
<html>
    {% block head %}
    {% endblock %}
    
    <link rel="stylesheet" href="/styles/general.css">
    
    
    <body>
        <header class="links-bg">
            <div class="links__content">
                <div class="links">
                    <div class="links-logo">
                        <a href="/home"><img src="/assets/logo.png" alt="logo-foodfy"></a>
                    </div>
                    <div>
                        <a href="/about">Sobre</a>
                        <a href="/recipes">Receitas</a>
                        <a href="/chefs">Chefs</a>
                    </div>
                </div>
                
                <div class="filter">
                    <form action="/search" method="GET">
                        <input 
                        type="text" 
                        name="filter" 
                        placeholder="Buscar uma receita" 
                        value="{{ filter }}">

                        <button class="button" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>

        <script src="/scripts/scripts.js"></script>
        <script src="/scripts/active-menu.js"></script>
        <script src="/scripts/hide-and-show.js"></script>
    </body>
</html>