{% extends "admin/layout.njk" %}

{% block head %}
    <title>Foodfy Admin | Create</title>
{% endblock head %}

{% block content %}
    <form method="POST" action="/admin/recipes">
        <div class="create-header">
            <h2>Criando receita</h2>
            <button type="submit">Salvar receita</button>
        </div>

        {% include "admin/recipes/fields.njk" %}

    </form>

{% endblock content %}