{% extends "layouts/admin.njk" %}

{% block head %}
    <title>Gerenciar Receitas | Create</title>
{% endblock head %}

{% block content %}
    <form method="POST" action="/admin/recipes" enctype="multipart/form-data">
        <div class="create-header">
            <h2>Criando receita</h2>
            <button class="button" type="submit">Salvar receita</button>
        </div>

        {% include "admin/includes/recipes/fields.njk" %}

    </form>

{% endblock content %}