{% extends "layouts/admin.njk" %}

{% block head %}
    <title>{{ recipe.title }} | Edit</title>
{% endblock head %}


{% block content %}
    
    <div class="edit-header">
        
        <h2>Editando receita</h2>

        <button type="submit" class="button delete" onclick="Message.confirmDelete()">Deleta</button>
        <button type="submit" form="form-save" class="button">Salvar receita</button>
    </div>

    <form id="form-save" method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
        
        {% include "admin/includes/recipes/fields.njk" %}

        <input 
        type="hidden" 
        name="id" 
        value="{{ recipe.id }}">
    </form>
   
    <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">
        <input 
        type="hidden" 
        name="id" 
        value="{{ recipe.id }}">
    </form>  

{% endblock content %}