{% extends "layouts/admin.njk" %}

{% block head %}
    <title>Foodfy Admin | Gerenciar Receitas</title>
{% endblock head %}


{% block content %}

<div class="show-header">
    <h2>Gerenciar receitas</h2>
        {# {% if session.isAdmin %}
        <a href="/admin/recipes/create" class="button">Nova receita</a>
        {% endif %} #}
    </div>

<div class="admin__content">

    <div class="card__admin">
        {% for recipe in recipes %}
        <div class="card__recipes">
            
            <section class="list__image">
                <img src="{{ recipe.img }}">
            </section>
            
            <section>
            
            <div class="list__title">
                <h1>{{ recipe.title }}</h1>
            </div>

            <div class="list__author">
                <p>{{ recipe.author }}</p>
            </div>

            <a class="list__visualize" href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
            </section>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}