{% extends "layouts/admin.njk" %}

{% block head %}
    <title>Gerenciar Receitas | {{ recipe.title }}</title>
{% endblock %}

{% block content %}
<div class="show-header">
    <h2>Receita: {{ recipe.title }}</h2>
    <a href="/admin/recipes/{{ recipe.id }}/edit" class="button-admin">Editar</a>
</div>
<div class="show__details">
    <div class="gallery">
       <div class="highlight">
            {% if not files[0] %}
            <img src="http://placehold.it/940x280?text=RECEITA SEM FOTO" alt="">
            {% else %}
            <img src="{{ files[0].src }}" alt="{{ files[0].name }}">
            {% endif %}
       </div>
       <div class="gallery-preview">
            {% for image in files %}
                <img 
                    src="{{ image.src }}" 
                    alt="{{ image.name }}"
                    {% if loop.index0 == 0 %}
                    class="active"
                    {% endif %}
                    onclick="ImageGallery.setImage(event)"
                >
            {% endfor %}
        </div>
    </div>

    <div class="details__title">
        <h1>{{ recipe.title }}</h1>
    </div>

    <div class="details__author">
        <p>{{ recipe.chef_name }}</p>
    </div>
</div>

<div class="show__ingredients">

    <div class="divs">
        <div class="header__div-admin" >
            <h1>Ingredientes</h1>
        </div>
    
        <div id="ingredients__details">
            {% for ingredients in recipe.ingredients %}
                <p>- {{ ingredients }}</p>
            {%endfor%}
        </div>
    </div>
    
    <div class="divs">
        <div class="header__div-admin">
            <h1>Modo de preparo</h1></li>
        </div>
    
        <div id="preparation__modo">
            {% for preparation in recipe.preparation %}
                <p>- {{ preparation }}</p>
            {% endfor %}
        </div>
    </div>

     <div class="divs">
        <div class="header__div-admin">
            <h1>Informações adicionais</h1>
        </div>

        <div id="additional__information">
            <p>{{ recipe.information }}</p>
        </div>
    </div>

</div>
{% endblock %}  

        