<!DOCTYPE html>
<html>
    {% block head %}
    {% endblock head %}

    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/admin.css">

    <body>
       
       {% include "parts/admin/header.njk" %}

        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

       {% include "includes/scripts.njk" %}
    </body>
</html>