<!DOCTYPE html>
<html>
    {% block head %}
    {% endblock head %}

    {% include "admin/parts/styles.njk" %}

    <body>
       
       {% include "admin/parts/header.njk" %}

        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>

       {% include "admin/includes/scripts.njk" %}
    </body>
</html>