<!DOCTYPE html>
<html>
    {% block head %}
    {% endblock %}
    
    <link rel="stylesheet" href="/styles/header-site.css">
    <link rel="stylesheet" href="/styles/general.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <body>
        {% include "site/parts/header.njk" %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        {% include "site/parts/footer.njk" %}

    </body>
</html>